.main-container {
    width: 100%;
    height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url('./img-dm/marmol.webp');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.map-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 150px;  
    min-width: 180px;
}

.map-container iframe {
    
    width: 150vh;
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 black;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: black;
}

.titulo-footer {
    color: white;
}

.subtitulo-footer {
    color: white;
}


footer section {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .left-2 ul{
     font-size: 1.4rem;
     font-weight: 500;
     line-height: 1.8rem;
     list-style: none;
     min-width: 200px;
}



.left-2 li {
    margin: 10px 0;
    
}

.left-2 a {
    text-decoration: none;
    color: white;
}
 
.left-2 ul span {
    display: inline-block;
    font-size: 20px;
    color: white;
    margin-right: 5px;
}

footer .right-1 {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 66px;  
    margin-top: 30px;
    min-width: 100px;

    
    
    
}

footer .right-1 h4 {
    font-size: 50px;
    
}

footer .right-1 p {
    font-size: 35px;
    text-align: center;
}

